<%- include ../layouts/header.ejs %>



<section class="flat-row flat-login parallax1">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-6 col-sm-6">
                <div class="login-form">
                    <h3>Generate New Password</h3>
                    <form action="#" method="get" name="resetFrm" id="resetFrm" >
                        <div class="wrap-login">
                            <label for="password">Password *</label>
                            <input type="password" class="password" name="password">
                        </div>

                         <div class="wrap-login">
                            <label for="conf_password">Confirm Password *</label>
                            <input type="password" class="conf_password" name="conf_password">
                        </div>
                        <div class="btn-more">
                            <button type="submit">Reset Password</button>
                        </div>
                    </form><!-- /form -->
                </div><!-- /.login-form -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-1">
            </div><!-- /.col-lg-1 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="overlay"></div>
</section><!-- /.flat-login -->
<script>
var reset_token= "<%=reset_token%>";
var user_key= "<%=user_key%>";
</script>
</section>

<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/jquery.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/bootstrap.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/easing.js') %>"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/gmap3.min.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/parallax.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/owl.carousel.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/plugins/main.js') %>"></script>
<script src="<%- site_url('front/custom/js/app.js') %>"></script>
<script src="<%= site_url('front/custom/js/auth/forgetpass.js') %>"></script>
</body>
</html>
