<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from brandio.io/envato/iofrm/html/register8.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Aug 2018 08:02:18 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
	<link rel="stylesheet" type="text/css" href="<%= site_url('application/plugins/bootstrap/css/bootstrap.min.css') %>">
    <link rel="stylesheet" type="text/css" href="<%- site_url('front/custom/css/bootstrap.min.css') %>">
    <link rel="stylesheet" type="text/css" href="<%- site_url('front/custom/css/fontawesome-all.min.css') %>">
    <link rel="stylesheet" type="text/css" href="<%- site_url('front/custom/css/iofrm-style.css') %>">
    <link rel="stylesheet" type="text/css" href="<%- site_url('front/custom/css/iofrm-theme8.css') %>">
</head>
<body>