<%- include ../layouts/header.ejs %>
<%- include ../functions.ejs %>
<section id="page-dashbord">
  <div class="container">
    <div class="row">
      <%- include ../user/sidebar.ejs %>

      <div class="col-md-9 col-sm-9 col-xs-12 right-inner" id="portfoliosection">
        <form method="post" action="<%= site_url('account/portfolio/uploadresume') %>" name="resumeuploadFrm" id="resumeuploadFrm" enctype="multipart/form-data">
          <h2>Portfolio</h2>

          <div class="resume">
            <h6>Upload your resume</h6>
            <p>Adding your resume can definitely help members understand your skills and qualifications.</p>
            <p>File formats can be PDF/DOC/TXT/RTF and no larger than 5MB.</p>

            <div class="upload-wrapper">
              <a class='btn btn--primary' href='javascript:;'>
                upload File...
                <input type="file" name="resume" id="resume" size="40">
              </a>
            </div>
          </div>
        </form>

        <h6>Upload portfolio items</h6>
        <p>Showcase your talents by adding items to your portfolio (visible on your profile). This is particularly
          great for photographers, designers and illustrators, but also great for a gallery to advertise you
          completing tasks. </p>
        <p>You may upload a maximum of 30 items. File formats can be JPG/PNG/PDF/TXT and must be no larger than 5MB.
          For your own security and privacy, please make sure you don't upload any personal details in your
          attachments.</p>



        <% if(portdata.length > 0) { %>
        <div class="attachments">
          <% portdata.forEach(function(value) { %>
          <div class="attachment-item">
            <a href="#" class="deleteportfolio" id="<%= value._id%>"><i class="fa fa-times-circle"></i>
              <%if (value.image) { %>
              <img src="<%- site_url('uploads/portfolio/') %><%= value.image%>" class="img-responsive">
              <% } else{ %>
              <img src="<%- site_url('uploads/category/placeholder.png') %>" class="img-responsive">
              <% } %>
            </a>
          </div>
          <% }); %>
        </div>
        <% } %>
        <form id="portfolio" name="portfolio" enctype="multipart/form-data">
          <div class="form-group">
            <label for="portfolio"></label>
          <input type="file" name="image" id="portfolio" size="40">
          </div>
          <input type="submit" class="btn btn--primary submtBtn" id="submtBtn" value="Submit">
        </form>
      </div>


    </div>
  </div>
</section>


<%- include ../layouts/footerscripts.ejs %>
<script src="<%= site_url('front/custom/js/user/portfolio.js') %>"></script>
<script>
  $(function () {
    $('body').on('change', '#resume', function (e) { 
      $('#resumeuploadFrm').submit();
    })
  })
</script>