<%- include ../layouts/header.ejs %>
<%- include ../functions.ejs %>
        <section id="page-dashbord">
          <div class="container">
              <div class="row">
              <%- include ../user/sidebar.ejs %>
              <div class="col-md-9 col-sm-9 col-xs-12 right-inner">
              <div class="row">
              <div class="col-md-6 col-md-12 col-xs-12">
              <form id="changePassowrdFrm" name="changePassowrdFrm" role="from">
                    <h2>Change Password </h2>

                     <div class="form-group">
                       <label for="old_password"> Current password</label>
                       <input type="password" name="old_password" id="old_password" class="form-control">
                     </div>

                     <div class="form-group">
                       <label for="new_password"> New password</label>
                       <input type="password" name="new_password"  id="new_password" class="form-control">
                     </div>

                     <div class="form-group">
                       <label for="conf_password"> Confirm password</label>
                       <input type="password" name="conf_password" id="conf_password" class="form-control">
                     </div>

                     <div class="form-group">
                       <button type="submit" class="btn btn--primary"> Update password</button>
                     </div>     
                  </form>     
              </div>
            </div>
                </div>
              </div>
              </div>
  </section>
<script type="text/javascript" src="<%- site_url('front/custom/js/user/change_password.js') %>"></script>
<%- include ../layouts/footerscripts.ejs %>
