<%- include ../layouts/header.ejs %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSlhXQ8ixpBW6CLmCJWOIvQXmwzXwlbj4&v=3.exp&sensor=false&libraries=places"></script>
<%- include ../functions.ejs %>
  <section id="page-dashbord">
    <div class="container">
      <div class="row">
         <%- include ../user/sidebar.ejs %>
         <div class="col-md-9 col-sm-9 col-xs-12 right-inner">
            <div class="pageinner">
              <h5>User Profile</h5>
            </div>
                <div class="userprofile" id="userprofile">
                               
                <form name="update_profile" id="update_profile">
                <div class="row"> 
                    <div class="col-md-6 col-md-12 col-xs-12">
                <div class="form-group">
                   <label for="user_image" class="control-label">profile image</label>
                 
                  <% if(userdata.user_image){ %>
                  <img src="<%- site_url('uploads/user/profile/') %><%= userdata.user_image %>" class="img-responsive" style="max-height:80px;">
                  <% } else{ %>
                  <img src="<%- site_url('front/assets/images/avtar.jpg') %>" class="img-responsive" style="max-height:80px;">
                  <% } %>
                   <input type="file" name="user_image">
               </div>   
             
             
                <div class="form-group">
                  <label for="avatar" class="control-label">upload Cover Image</label>
                    
                      <% if(userdata.cover){ %>
                      <img src="<%- site_url('uploads/user/cover/') %><%= userdata.cover %>" class="img-responsive" style="max-height:80px;>
                      <% } else{ %>
                      <img src="<%- site_url('front/assets/images/default_cover.jpg') %>" class="img-responsive" style="max-height:80px;">
                      <% } %>
                      <input type="file" name="cover" >
                </div>
       
               <div class="form-group">
                  <label for="first_name" class="control-label">First name</label>
                  <input type="text" name="first_name" id="first_name" class="form-control" value="<%= userdata.first_name %>" required>
               </div>

                <div class="form-group">
                <label for="last_name" class="control-label">Last name</label>
                  <input type="text" name="last_name" id="last_name" class="form-control" value="<%= userdata.last_name %>" >
              </div>

                <!---<div class="form-group">
                  <label class="control-label">Payment ID verification</label>
                    <a href="#" class="btn btn--primary"> Get verified</a>
                </div>--->
		
          <div class="form-group">
            <label for="tagline" class="control-label">Tagline</label>
              <input type="text" name="tagline" class="form-control" value="<%= userdata.tagline ? userdata.tagline: "" %>" required>
          </div>

          <div class="form-group">
            <label for="location" class="control-label">Location</label>
            <input type="text" class="form-control srchGbl" name="location" value="<%= (userdata.location) ? userdata.location : '' %>" placeholder="Enter a Suburb" onFocus="initializeAutocomplete()"
                id="locality">
              
              <input type="hidden" name="city" id="city" placeholder="City" value="">
              <input type="hidden" name="lat" id="latitude" placeholder="Latitude" value="">
              <input type="hidden" name="lng" id="longitude" placeholder="Longitude" value="">
              <input type="hidden" name="place_id" id="location_id" placeholder="Location Ids" value="">
            </div>

          <div class="form-group">
            <label for="email" class="control-label">Email</label>
              <input type="text" name="email" id="email" class="form-control" value="<%= userdata.email %>" readonly>
          </div>

            <div class="form-group">
              <label for="birthday" class="control-label">Birthday</label>
            
                <input type="text" name="birthday" id="birthday" class="form-control" value="<%= (userdata.birthday) ? convertdate(userdata.birthday) : '' %>" required>
            </div>

          <div class="form-group">
            <label for="abn" class="control-label">ABN</label>
              <input type="number" name="abn" min="0" id="abn" class="form-control" value="<%= (userdata.abn) ? userdata.abn : '' %>" required>
          </div>
		
            <!---<div class="form-group">
                  <label for="mobile_no" class="control-label">Mobile Number</label>
                    <input type="text" name="mobile_no"  id="mobile_no" class="form-control" value="<%= (userdata.mobile_no) ? userdata.mobile_no : '' %>" required>
                </div>--->

          <div class="form-group">
            <label for="description" class="control-label">Description</label>
              <textarea id="description" class="form-control" name="description" required><%= userdata.description ? userdata.description : ""%></textarea>
          </div>
          
                  <div class="form-group">
                    <label for="want_to" class="control-label">On Expertie I want to</label>
                      <div class="checkbox">
                        <label class="checkbox-inline"><input type="checkbox" name="post_task" id="post_task" value="1" <%if(userdata.post_task){ %> <%= userdata.post_task==1 ? "checked" : "" %> <% } %>> Post Task</label>
                      </div>
                      <div class="checkbox">
                        <label class="checkbox-inline"><input type="checkbox" name="earn_money" id="earn_money" value="1" <%if(userdata.earn_money){ %> <%= userdata.earn_money==1 ? "checked" : "" %> <% } %>> Earn money</label>
                      </div>
                  </div>
                 <input type="hidden" name="user_id" value="<%= userdata._id %>" >
                <div class="form-group">
                  <button type="submit" class="btn btn--primary"> Save Profile</button>
                </div>
              </div>
            </div>
            </form>             
        </div>
      </div>
    </div>
  </div> 
</section>

<script type="text/javascript">
  function initializeAutocomplete() {
		var input = document.getElementById('locality');
		// var options = {
		//   types: ['(regions)'],
		//   componentRestrictions: {country: "IN"}
		// };
		var options = {}

		var autocomplete = new google.maps.places.Autocomplete(input, options);

		google.maps.event.addListener(autocomplete, 'place_changed', function () {
			var place = autocomplete.getPlace();
			var lat = place.geometry.location.lat();
			var lng = place.geometry.location.lng();
			var placeId = place.place_id;
			// to set city name, using the locality param
			var componentForm = {
				locality: 'short_name',
			};
			for (var i = 0; i < place.address_components.length; i++) {
				var addressType = place.address_components[i].types[0];
				if (componentForm[addressType]) {
					var val = place.address_components[i][componentForm[addressType]];
					document.getElementById("city").value = val;
				}
			}
			document.getElementById("latitude").value = lat;
			document.getElementById("longitude").value = lng;
			document.getElementById("location_id").value = placeId;
		});
	}
/* birthdate */

$(document).ready(function() {
    $('#birthday').datepicker();
});
</script>


<script type="text/javascript" src="<%- site_url('front/custom/js/app.js') %>"></script>
<script type="text/javascript" src="<%- site_url('front/custom/js/user/update_profile.js') %>"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
<%- include ../layouts/footerscripts.ejs %>




